<!-- Toast ID (mostly for e2e-testing purposes) -->
<div class="d-none message-id">{{ messageId || errorCode }}</div>

<!-- The message -->
@switch (messageId) {
    <!--------------------------------------------------------------------------------------------------------------
    Success messages
    -------------------------------------------------------------------------------------------------------------->
    @case ('account-deleted')         { <ng-container i18n>Your account is successfully deleted.</ng-container> }
    @case ('data-saved')              { <ng-container i18n>Saved successfully.</ng-container> }
    @case ('data-updated')            { <ng-container i18n>Updated successfully.</ng-container> }
    @case ('domain-cleared')          { <ng-container i18n>Domain objects have been successfully deleted.</ng-container> }
    @case ('domain-deleted')          { <ng-container i18n>Domain has been successfully deleted.</ng-container> }
    @case ('email-confirmed')         { <ng-container i18n>Your email address is now confirmed, you can sign in.</ng-container> }
    @case ('file-downloaded')         { <ng-container i18n>File has been successfully downloaded.</ng-container> }
    @case ('moderator-added')         { <ng-container i18n>Domain moderator is added.</ng-container> }
    @case ('moderator-removed')       { <ng-container i18n>Domain moderator is removed.</ng-container> }
    @case ('no-change')               { <ng-container i18n>No change identified.</ng-container> }
    @case ('password-changed')        { <ng-container i18n>Your password has been changed. You can now sign in with your new password.</ng-container> }
    @case ('pwd-reset-email-sent')    { <ng-container i18n>If your email is registered with us, we'll send you a password reset link!</ng-container> }
    @case ('unsubscribed-ok')         { <ng-container i18n>You have been successfully unsubscribed from these emails.</ng-container> }
    @case ('user-is-banned')          { <ng-container i18n>User has been banned.</ng-container> }
    @case ('user-is-deleted')         { <ng-container i18n>User has been deleted.</ng-container> }
    @case ('user-is-unbanned')        { <ng-container i18n>User has been unbanned.</ng-container> }
    @case ('user-is-unlocked')        { <ng-container i18n>User has been unlocked.</ng-container> }
    <!------------------------------------------------------------------------------------------------------------------
    Error messages
    ------------------------------------------------------------------------------------------------------------------>
    @case ('bad-token')               { <ng-container i18n>Required token is missing or invalid.</ng-container> }
    @case ('deleting-last-superuser') { <ng-container i18n>You can't delete the last superuser in the system. Please appoint another first.</ng-container> }
    @case ('deleting-last-owner')     { <ng-container i18n>You appear to be the last owner in the following domains, please appoint other owner(s) or delete those domains first:</ng-container> }
    @case ('comment-deleted')         { <ng-container i18n>This comment has been deleted.</ng-container> }
    @case ('domain-readonly')         { <ng-container i18n>No comment can be added: this domain is read-only.</ng-container> }
    @case ('email-already-exists')    { <ng-container i18n>This email is already registered in our system.</ng-container> }
    @case ('email-not-confirmed') {
        <ng-container i18n>Your email is not confirmed yet.</ng-container>&ngsp;
        <ng-container i18n>Please check your email and click the confirmation link in it.</ng-container>&ngsp;
        <ng-container i18n>If you don't see the email, check your Spam folder.</ng-container>
    }
    @case ('email-send-failure')      { <ng-container i18n>Server failed to send the email. Please check your input and try again.</ng-container> }
    @case ('feature-disabled')        { <ng-container i18n>This feature has been disabled by the administrator or site owner.</ng-container> }
    @case ('host-already-exists')     { <ng-container i18n>There's already a registered domain with this host.</ng-container> }
    @case ('idp-unconfigured')        { <ng-container i18n>Identity provider isn't configured.</ng-container> }
    @case ('idp-unknown')             { <ng-container i18n>Identity provider is unknown.</ng-container> }
    @case ('immutable-account')       { <ng-container i18n>This user cannot be updated.</ng-container> }
    @case ('immutable-property')      { <ng-container i18n>This property cannot be updated.</ng-container> }
    @case ('internal-error')          { <ng-container i18n>A server error has occurred, please contact support.</ng-container> }
    @case ('invalid-avatar-format')   { <ng-container i18n>Avatar image must be in JPEG or PNG format.</ng-container> }
    @case ('invalid-avatar-size')     { <ng-container i18n>Avatar image must not exceed 1 MB.</ng-container> }
    @case ('invalid-credentials')     { <ng-container i18n>This user doesn't exist or the password is wrong.</ng-container> }
    @case ('invalid-mod-action')      { <ng-container i18n>Invalid moderation action.</ng-container> }
    @case ('invalid-input-data')      { <ng-container i18n>Invalid input data provided.</ng-container> }
    @case ('invalid-prop-value')      { <ng-container i18n>Property value is invalid.</ng-container> }
    @case ('invalid-uuid')            { <ng-container i18n>Invalid UUID value.</ng-container> }
    @case ('login-locally')           { <ng-container i18n>You already have a Comentario account. Please login with your email and password.</ng-container> }
    @case ('login-using-idp')         { <ng-container i18n>You already have a Comentario account. Please login via external provider:</ng-container> }
    @case ('login-using-sso')         { <ng-container i18n>You already have a Comentario account. Please login via your Single Sign-On provider</ng-container> }
    @case ('new-owners-forbidden')    { <ng-container i18n>Unfortunately, becoming an owner user is currently forbidden.</ng-container> }
    @case ('no-local-user')           { <ng-container i18n>This operation is only applicable to locally authenticated users.</ng-container> }
    @case ('no-root-comment')         { <ng-container i18n>This operation is only applicable to a root comment.</ng-container> }
    @case ('no-superuser')            { <ng-container i18n>You must be a superuser to perform this operation.</ng-container> }
    @case ('not-allowed')             { <ng-container i18n>This action is forbidden.</ng-container> }
    @case ('not-domain-owner')        { <ng-container i18n>You have to be a domain owner in order to do that.</ng-container> }
    @case ('not-moderator')           { <ng-container i18n>You have to be a moderator in order to do that.</ng-container> }
    @case ('oauth-popup-failed')      { <ng-container i18n>Failed to open OAuth login popup. Please check your browser settings.</ng-container> }
    @case ('oauth-login-failed')      { <ng-container i18n>OAuth login was unsuccessful.</ng-container> }
    @case ('page-readonly')           { <ng-container i18n>No comment can be added: comment thread on this page is read-only.</ng-container> }
    @case ('resource-fetch-failed')   { <ng-container i18n>Alas, we couldn't fetch the requested resource.</ng-container> }
    @case ('self-operation')          { <ng-container i18n>You cannot perform this operation on yourself.</ng-container> }
    @case ('self-vote')               { <ng-container i18n>You cannot vote for your own comment.</ng-container> }
    @case ('signups-forbidden')       { <ng-container i18n>Unfortunately, registration of new users is currently disabled.</ng-container> }
    @case ('sso-misconfigured')       { <ng-container i18n>SSO configuration for this domain is invalid.</ng-container> }
    @case ('unauthenticated')         { <ng-container i18n>This operation requires you to be signed in.</ng-container> }
    @case ('unauthorized')            { <ng-container i18n>You are not allowed to perform this operation.</ng-container> }
    @case ('unknown-host')            { <ng-container i18n>This domain is not registered in Comentario.</ng-container> }
    @case ('user-banned')             { <ng-container i18n>This account is terminated due to a violation of our Terms of Service. If you believe it's an error, please contact support.</ng-container> }
    @case ('user-locked')             { <ng-container i18n>This account is locked for security reasons. Please contact support.</ng-container> }
    @case ('user-readonly')           { <ng-container i18n>You are read-only and hence not allowed to add comments on this domain.</ng-container> }
    @case ('wrong-cur-password')      { <ng-container i18n>Your current password is wrong.</ng-container> }
    @case ('xsrf-token-invalid')      { <ng-container i18n>Invalid or missing XSRF token. Please reload the page and try again.</ng-container> }

    <!--------------------------------------------------------------------------------------------------------------
    No luck with the ID: use the HTTP error code
    -------------------------------------------------------------------------------------------------------------->
    @default {
        @switch (errorCode) {
            @case (400) { <ng-container i18n>Invalid input data. Please try again.</ng-container> }
            @case (401) { <ng-container i18n>You have been signed out, please login again.</ng-container> }
            @case (403) { <ng-container i18n>You're not authorised to perform this operation.</ng-container> }
            @case (404) { <ng-container i18n>Requested element was not found. It was possibly deleted.</ng-container> }
            @case (422) { <ng-container i18n>The value is invalid. Please correct and try again.</ng-container> }
            @case (500) { <ng-container i18n>A server error is occurred. Please try again later.</ng-container> }
            @default    { <ng-container i18n>There's something wrong in the cloud. Please try again.</ng-container> }
        }
    }
}
