@if (formGroup) {
    <ng-container [formGroup]="formGroup">
        <!-- Info -->
        <app-info-block>
            <ng-container i18n>Here you can specify moderation policy settings for the domain.</ng-container>
            <app-info-icon docLink="configuration/frontend/domain/moderation/" class="ms-2"/>
        </app-info-block>

        <!-- Require moderator approval -->
        <div class="mb-3 row">
            <div class="col-sm-3 colon fw-bold" i18n>Require moderator approval on comment, if</div>
            <div class="col-sm-9">
                <!-- Author is unregistered -->
                <div class="form-check form-switch">
                    <input formControlName="anonymous" type="checkbox" class="form-check-input" id="mod-anonymous">
                    <label class="form-check-label" for="mod-anonymous" i18n>Author is unregistered</label>
                </div>
                <!-- Author is authenticated -->
                <div class="form-check form-switch">
                    <input formControlName="authenticated" type="checkbox" class="form-check-input" id="mod-authenticated">
                    <label class="form-check-label" for="mod-authenticated" i18n>Author is authenticated</label>
                </div>
                <!-- Author has less than this number of approved comments -->
                <div class="form-check form-switch">
                    <input formControlName="numCommentsOn" type="checkbox" class="form-check-input" id="mod-num-comments-on">
                    <label class="form-check-label colon" for="mod-num-comments-on" i18n>Author has less than this number of approved comments</label>
                </div>
                <!-- Number of approved comments -->
                @if (formGroup.controls.numComments.enabled) {
                    <div class="mb-3">
                        <input formControlName="numComments" type="number" class="form-control" id="mod-num-comments"
                               [class.is-valid]="formGroup.controls.numComments.touched && formGroup.controls.numComments.valid"
                               [class.is-invalid]="formGroup.controls.numComments.touched && formGroup.controls.numComments.invalid">
                        <!-- Invalid feedback -->
                        <div class="invalid-feedback" i18n>Please enter a valid value.</div>
                    </div>
                }
                <!-- Author is registered less than this number of days ago -->
                <div class="form-check form-switch">
                    <input formControlName="userAgeDaysOn" type="checkbox" class="form-check-input" id="mod-user-age-days-on">
                    <label class="form-check-label colon" for="mod-user-age-days-on" i18n>Author is registered less than this number of days ago</label>
                </div>
                <!-- Number of days for minimum user age -->
                @if (formGroup.controls.userAgeDays.enabled) {
                    <div class="mb-3">
                        <input formControlName="userAgeDays" type="number" class="form-control" id="mod-user-age-days"
                               [class.is-valid]="formGroup.controls.userAgeDays.touched && formGroup.controls.userAgeDays.valid"
                               [class.is-invalid]="formGroup.controls.userAgeDays.touched && formGroup.controls.userAgeDays.invalid">
                        <!-- Invalid feedback -->
                        <div class="invalid-feedback" i18n>Please enter a valid value.</div>
                    </div>
                }
                <!-- Comment contains link -->
                <div class="form-check form-switch">
                    <input formControlName="links" type="checkbox" class="form-check-input" id="mod-links">
                    <label class="form-check-label" for="mod-links" i18n>Comment contains link</label>
                </div>
                <!-- Comment contains image -->
                <div class="form-check form-switch">
                    <input formControlName="images" type="checkbox" class="form-check-input" id="mod-images">
                    <label class="form-check-label" for="mod-images" i18n>Comment contains image</label>
                </div>
            </div>
        </div>

        <!-- Email moderators -->
        <div class="mb-3 row">
            <div class="col-sm-3 colon fw-bold" i18n>Email moderators</div>
            <div class="col-sm-9">
                @for (p of modNotifyPolicies; track p) {
                    <div class="form-check">
                        <input formControlName="notifyPolicy" class="form-check-input" type="radio" [id]="'mod-notify-policy-'+p" [value]="p">
                        <label class="form-check-label" [for]="'mod-notify-policy-'+p" i18n>{{ p | moderatorNotifyPolicy }}</label>
                    </div>
                }
            </div>
        </div>
    </ng-container>
}
