<!-- App content -->
<main role="main" class="d-flex flex-column h-100">
    <!-- Navbar -->
    @if (!hasSidebar) {
        <app-navbar/>
    }

    <!-- Toasts -->
    <app-toast/>

    <!-- Router outlet -->
    <router-outlet/>

    <!-- Footer -->
    <app-footer/>
</main>
