@import "colours";

.comentario-dialog {
    position: absolute;
    z-index: 100;

    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    min-height: 100px;
    background-color: $gray-1;
    border: 1px solid $gray-5;
    box-shadow: 0 0 20px rgba(153, 153, 153, 0.5);

    hr {
        border: none;
        background: $gray-6;
        height: 1px;
        margin: 12px 0;
    }

    .comentario-dialog-header {
        position: relative;
        display: flex;
        align-items: center;
        background-color: $gray-3;
        padding: 6px 16px;
        line-height: 24px;
        font-weight: bold;

        .comentario-dialog-btn-close {
            --cmntr-btn-color: $gray-7;

            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            border: 0;
            padding: 2px;

            .comentario-icon {
                width: 1.5em;
                height: 1.5em;
            }
        }
    }

    .comentario-dialog-body {
        padding: 16px;
        overflow: hidden;
    }

    .comentario-dialog-centered {
        color: $gray-6;
        text-align: center;
        margin: 8px 0;
    }

    // Arrow

    .comentario-dialog-arrow,
    .comentario-dialog-arrow::before {
        position: absolute;
        z-index: 101;
        width: 12px;
        height: 12px;
        background-color: $gray-1; // Match colour with the dialog body by default
        border: 1px solid transparent;
    }

    .comentario-dialog-arrow {
        visibility: hidden;
    }

    .comentario-dialog-arrow::before {
        visibility: visible;
        content: '';
        transform: rotate(45deg);
    }

    &[data-popper-placement^='top'] > .comentario-dialog-arrow {
        bottom: -6px;
        &::before {
            border-right-color: $gray-5;
            border-bottom-color: $gray-5;
        }
    }

    &[data-popper-placement^='bottom'] > .comentario-dialog-arrow {
        top: -7px;
        &::before {
            background-color: $gray-3; // Match colour with the dialog header when the arrow is on the top
            border-left-color: $gray-5;
            border-top-color: $gray-5;
        }
    }

    &[data-popper-placement^='left'] > .comentario-dialog-arrow {
        right: -6px;
        &::before {
            border-right-color: $gray-5;
            border-top-color: $gray-5;
        }
    }

    &[data-popper-placement^='right'] > .comentario-dialog-arrow {
        left: -7px;
        &::before {
            border-left-color: $gray-5;
            border-bottom-color: $gray-5;
        }
    }
}
