@import "source-sans";
@import "colours";
@import "../../frontend/scss/shared";

.comentario-root {
    position: relative;
    padding: 0;
    width: 100%;
    font-family: inherit;
    font-size: 15px;
    line-height: 1.5;
    color: $root-color;

    @import "common";
    @import "animations";
    @import "button";
    @import "table";
    @import "input";
    @import "badge";
    @import "dialog";
    @import "footer";
    @import "comment-editor";
    @import "comment-card";
    @import "placeholders";
    @import "sort-bar";
    @import "toolbar";

    .comentario-backdrop {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(3px);
    }

    .comentario-message-box {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 4px;
        background-color: $green-1;
        color: $green-8;

        &.comentario-error {
            background-color: $red-1;
            color: $red-8;
        }

        .comentario-message-box-body {
            padding: 1rem;
            text-align: center;
        }

        code {
            pre {
                padding: 12px;
                font-family: 'DejaVu Sans Mono', 'Noto Mono', monospace;
            }
        }
    }

    .comentario-page-moderation-notice {
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
        text-align: center;
        color: $orange-8;
    }

    &.comentario-root-font {
        * {font-family: 'Source Sans Pro', sans-serif;}
    }

    @each $i, $c in $colourise-map {

        // Generate colouring classes for the left border
        .comentario-border-#{$i} {
            border-left: 2px solid #{$c} !important;
        }

        // Generate background colouring classes
        .comentario-bg-#{$i} {
            background-color: #{$c} !important;
        }
    }

    // Anonymous (unregistered) is a special case
    .comentario-border-anonymous {
        border-left: 2px dashed $gray-5 !important;
    }
    .comentario-bg-anonymous {
        background-color: $gray-5 !important;
        background-image: url("data:image/svg+xml,%3Csvg height='800' width='800' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60.671 60.671' xml:space='preserve'%3E%3Cellipse style='fill:%23ffffff' cx='30.336' cy='12.097' rx='11.997' ry='12.097'/%3E%3Cpath style='fill:%23ffffff' d='M35.64 30.079H25.031c-7.021 0-12.714 5.739-12.714 12.821v17.771h36.037V42.9c0-7.082-5.693-12.821-12.714-12.821z'/%3E%3C/svg%3E%0A") !important;
        background-repeat: no-repeat !important;
        background-size: 80% !important;
        background-position: bottom !important;
    }

    // Deleted user is another special case
    .comentario-border-deleted {
        border-left: 2px dotted $pink-2 !important;
    }
    .comentario-bg-deleted {
        background-color: $pink-2 !important;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 384 512'%3E%3Cpath style='fill:%23ffffff' d='M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z'/%3E%3C/svg%3E") !important;
        background-repeat: no-repeat !important;
        background-size: 50% !important;
        background-position: center !important;
    }
}
