<!-- Info text -->
@if (countDays) {
    <p class="text-muted stats-chart-info" i18n>Last {{ countDays }} days.</p>
}

<div class="row row-cols-1 row-cols-lg-2 g-2">
    <!-- Views -->
    <div [appSpinner]="loadingViews.active" spinnerSize="lg" class="col">
        <!-- Numbers of views -->
        <app-metric-card [value]="countViews" label="Views" i18n-label="metric-label|"/>

        <!-- Chart -->
        @if (chartDataViews; as d) {
            <div class="chart-container">
                <canvas baseChart type="line" [options]="chartOptionsViews" [data]="d"></canvas>
            </div>
        }
    </div>

    <!-- Comments -->
    <div [appSpinner]="loadingComments.active" spinnerSize="lg" class="col">
        <!-- Numbers of comments -->
        <app-metric-card [value]="countComments" label="Comments" i18n-label="metric-label|"/>

        <!-- Chart -->
        @if (chartDataComments; as d) {
            <div class="chart-container">
                <canvas baseChart type="line" [options]="chartOptionsComments" [data]="d"></canvas>
            </div>
        }
    </div>
</div>

<!-- Placeholder when no data -->
@if (!countDays) { <app-no-data/> }
