<footer class="container-fluid py-3">
    <div class="row">
        <!-- Logo, copyright, and version -->
        <div class="col-md">
            <!-- Logo -->
            <div class="mb-3">
                <a [routerLink]="Paths.home"><img src="images/logo.svg" width="200" alt="Comentario"></a>
            </div>
            <!-- Links -->
            <div class="my-3 d-flex align-items-start">
                <!-- comentario.app -->
                <a href="https://comentario.app/" target="_blank" rel="noopener" class="me-3" title="comentario.app">
                    <svg style="width: 2rem; height: 2rem;" viewBox="0 0 135 135" xmlns="http://www.w3.org/2000/svg">
                        <path style="fill:transparent;stroke:currentColor;stroke-width:6" d="M67.733 7.646a63.5 47.625 0 0 1 63.5 47.625 63.5 47.625 0 0 1-63.5 47.625 63.5 47.625 0 0 1-2.886-.077 28.66 28.66 0 0 1-28.4 25.001 28.66 28.66 0 0 1-1.301-.044 23.758 23.758 0 0 0 10.036-19.37 23.758 23.758 0 0 0-1.904-9.216A63.5 47.625 0 0 1 4.233 55.271a63.5 47.625 0 0 1 63.5-47.625z"/>
                        <path style="fill:currentColor;stroke:currentColor" d="M74.891 25.738q0 6.68-1.272 12.884-1.114 6.044-2.386 12.566 5.726-3.182 11.293-6.204 5.567-3.022 12.089-5.249l.954-.318 4.454 13.361-1.273.477q-6.362 2.386-12.725 3.182-6.362.636-13.043 1.113 5.25 4.454 9.862 8.748 4.613 4.136 8.59 9.703l.795 1.113-11.612 8.113-.636-.955q-3.817-5.726-6.68-11.293-2.705-5.726-5.568-11.77-2.863 6.044-5.726 11.77-2.704 5.567-6.521 11.293l-.637.955-11.611-8.113.795-1.113q3.977-5.567 8.59-9.703 4.612-4.294 9.861-8.748-6.68-.477-13.043-1.113-6.362-.796-12.724-3.182l-1.273-.477 4.454-13.36.954.317q6.522 2.227 12.089 5.25 5.567 3.021 11.293 6.203-1.272-6.522-2.545-12.566-1.113-6.203-1.113-12.884v-1.272H74.89z"/>
                    </svg>
                </a>
                <!-- GitLab -->
                <a href="https://gitlab.com/comentario/comentario" target="_blank" rel="noopener" class="me-3"
                   title="GitLab"><fa-icon [icon]="faGitlab" size="2x"/></a>
                <!-- Xwitter -->
                <a href="https://twitter.com/ComentarioApp" target="_blank" rel="noopener" class="me-3"
                   title="Xwitter"><fa-icon [icon]="faXTwitter" size="2x"/></a>
                <!-- LinkedIn -->
                <a href="https://www.linkedin.com/company/comentario-app/" target="_blank" rel="noopener" class="me-3"
                   title="LinkedIn"><fa-icon [icon]="faLinkedin" size="2x"/></a>
            </div>
            <!-- Copyright -->
            <div class="footer-copyright" i18n>Copyright ©{{ year }} Comentario</div>
            <!-- Version -->
            <div class="footer-version small"><ng-container i18n>Version</ng-container> {{ version }}</div>
        </div>

        <div class="col-md">
            <ul class="list-unstyled">
                <li class="heading" i18n>Documentation</li>
                <li><a [href]="docsSvc.urlHome"                          target="_blank" rel="noopener" i18n>Docs</a></li>
                <li><a [href]="docsSvc.urlAbout"                         target="_blank" rel="noopener" i18n>About</a></li>
                <li><a [href]="configSvc.staticConfig.privacyPolicyUrl"  target="_blank" rel="noopener" i18n>Privacy Policy</a></li>
                <li><a [href]="configSvc.staticConfig.termsOfServiceUrl" target="_blank" rel="noopener" i18n>Terms of Service</a></li>
            </ul>
        </div>

        <div class="col-md">
            <!-- Items for authenticated user -->
            @if (isAuthenticated) {
                <ul class="list-unstyled">
                    <li class="heading" i18n>Manage</li>
                    <li><a [routerLink]="Paths.manage.dashboard"       routerLinkActive="active" ariaCurrentWhenActive="page" i18n>Dashboard</a></li>
                    <li><a [routerLink]="Paths.manage.domains"         routerLinkActive="active" ariaCurrentWhenActive="page" i18n>Domains</a></li>
                    <li><a [routerLink]="Paths.manage.account.profile" routerLinkActive="active" ariaCurrentWhenActive="page" i18n>Profile</a></li>
                </ul>
            } @else {
                <!-- Items for non-authenticated user -->
                <ul class="list-unstyled">
                    <li class="heading" i18n>Get started</li>
                    <li><a [routerLink]="Paths.auth.signup" routerLinkActive="active" ariaCurrentWhenActive="page" i18n>Sign up</a></li>
                    <li><a [routerLink]="Paths.auth.login"  routerLinkActive="active" ariaCurrentWhenActive="page" i18n>Sign in</a></li>
                </ul>
            }
        </div>
    </div>
</footer>
